include README.md
include LICENSE
recursive-include src/agenda_intelligence *
recursive-include */*.md
recursive-include schemas *.json
recursive-include source-* *.json
recursive-include source-requirements *.json
